<%= render "styles" %>


<div class="container">
  <div class="mb-20">
    <%- if notice %>
      <div class="notice"><%= notice %></div>
    <% elsif alert %>
      <div class="alert font-danger"><%= alert %></div>
    <% end %>
  </div>

  <%= button_to "Upload File", new_file_path, method: :get, class: "btn btn-primary right-align"%>

  <%- if @files.count.zero? %>
    <div class="card-holder">
      <div class="card text-center">
        <h3 class="font-danger">No files uploaded yet</h3>
      </div>
    </div>
  <%- else %>
    <div class="card-holder">
      <% @files.each do |file| %>
        <div class="card mb-20">
          <h3><%= file[:name] %></h3>
          <p><%= "Size: #{file[:size]} B" %></p>
          <p><%= "Uploaded: #{file[:created_at]}" %></p>
          <div class="flex flex-row justify-end items-base">
            <%= link_to "Download", file[:relative_path], target: "_blank", download: file[:name], class: "mb-4" %>
            <%= button_to "Delete", file_path(file_name: file[:name]), method: :delete, class: "btn btn-danger ml-20" %>
          </div>
        </div>
      <% end %>
    </div>
  <%- end %>
</div>
